<div class="navBar">
  <div class="menuItemContainer">
    <button class="menuItem" onclick="changeColorDisplay()">
      Brush Color
    </button>
    <input id="colorWheel" class="dropDownContent" type="color" onchange="selectBrushColor()" />
  </div>

  <div class="menuItemContainer">
    <button class="menuItem" onclick="changeSizeDisplay()">
        Brush Size
    </button>
    <button id="brushSize" class="dropDownContent"></button>
  </div>

  <div class="menuItemContainer">
    <button class="menuItem" onclick="changeTypeDisplay()">
      Brush Type
    </button>
    <button id="brushType" class="dropDownContent"></button>
  </div>

  <div class="menuItemContainer">
    <button class="menuItem" id="save" onclick="save()">
      Save
    </button>
  </div>

  <div class="menuItemContainer">
    <button class="menuItem" id="clear" onclick="clear()">
      Clear
    </button>
  </div>
</div>

<div id="canvasContainer">
  <canvas id="drawingArea" width="800" height="600">
    <img id="canvasImg">
  </canvas>
</div>
