<div class="navBar">
  <div class="menuItem">
    <div class="menuLabel">
      Brush Color
    </div>
    <input id="colorWheel" class="dropDownContent" type="color" onchange="selectBrushColor()" />
  </div>

  <div class="menuItem">
    <div class="menuLabel">
      Brush Size
    </div>
  </div>

  <div class="menuItem">
    <div class="menuLabel">
      Brush Type
    </div>
    <input class="dropDownContent" id="white" type="button" onclick="color(this)">
  </div>

  <div class="menuItem" id="btn" onclick="save()">
    Save
  </div>

  <div class="menuItem"id="clr" onclick="erase()">
    Clear
  </div>
</div>

<div id="canvasContainer">
  <canvas id="drawingArea" width="800" height="600">
    <img id="canvasImg">
  </canvas>
</div>
