<div class="navBar">
  <div id="brushColour" class="menuItem" onclick="changeBrushColour()">
    Colour
  </div>

  <div id="brushSize" class="menuItem" onclick="changeBrushSize()">
    Size
  </div>

  <div class="menuItem">
    Other
  </div>
</div>
