<div class="navBar">
  <div id="brushcolor" class="menuItem" onclick="changeBrushcolor()">
    Color
  </div>

  <div id="brushSize" class="menuItem" onclick="changeBrushSize()">
    Size
  </div>

  <div class="menuItem">
    Other
  </div>
</div>

<div id="canvasContainer">
  <!-- canvas needs to use inline width and height props -->
  <canvas id="drawingArea" width="800" height="600">
    <img id="canvasImg">
  </canvas>
</div>

<div >Choose color</div>
<div id="colorSelectContainer">
  <div id="green" class="colorSelect" onclick="color(this)"></div>
  <div id="blue" class="colorSelect" onclick="color(this)"></div>
  <div id="red" class="colorSelect" onclick="color(this)"></div>
  <div id="yellow" class="colorSelect" onclick="color(this)"></div>
  <div id="orange" class="colorSelect" onclick="color(this)"></div>
  <div id="black" class="colorSelect" onclick="color(this)"></div>
</div>
  <div>Eraser</div>
  <div id="white" class="colorSelect" onclick="color(this)"></div>
<div>
  <input type="button" value="save" id="btn" size="30" onclick="save()">
  <input type="button" value="clear" id="clr" size="23" onclick="erase()">
</div>
