<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='/javascripts/index.js'></script>
  </head>
  <body onload="init()">
    {{{body}}}
    <!-- canvas seems to need to use inline styling -->
    <canvas id="drawingArea" width="400" height="400" style="position:absolute;top:10%;left:10%;border:2px solid;"></canvas>

  </body>
</html>
