html {
  background-color: #E2E8DC;
}

body {
  display: flex;
  flex-direction: column;
}

#drawingArea {
  /*height: 500px;
  width: 500px;
  position:absolute;
  top: 10%;
  left:10%;
  border:2px solid;*/
}

#green {
  height: 15px;
  width: 15px;
  background-color: green;
}

#blue {
  height: 15px;
  width: 15px;
  background-color: blue;
}

#red {
  height: 15px;
  width: 15px;
  background-color: red;
}

#yellow {
  height: 15px;
  width: 15px;
  background-color: yellow;
}

#orange {
  height: 15px;
  width: 15px;
  background-color: orange;
}

#black {
  height: 15px;
  width: 15px;
  background-color: black;
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  height: 50px;
  background-color: #080708;
  border: #FFCF56 2px solid;
}

.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  height: 100%;
  width: 200px;
  border-left: #FFCF56 2px solid;
  border-right: #FFCF56 2px solid;
  font-size: 1.5rem;
  color: #FFCF56;
}
