html {
  /*background-color: #FFF;*/
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHUlEQVQoU2NkYGCQZCACMEIVPiekdlQh3hAiOngAIvwJJE/zp7YAAAAASUVORK5CYII=) repeat;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

input {
  border: none;
  padding: 0;
  user-select: none;
}

#drawingArea {
  display: flex;
  height: auto;
  width: auto;
  cursor: crosshair;
}

#canvasImg {
  display: none;
}

#white {
  background-color: white;
  border: 1px black solid;
}

.colorSelect {
  height: 15px;
  width: 15px;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  background-color: #2E2F35;
}

.menuItem {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  height: 100%;
  width: 200px;
  border: #FFCF56 1px solid;
  font-size: 1.5rem;
  color: #FFCF56;
}

.menuLabel {
  padding: 4px 0;
}

.menuItem .dropDownContent {
  height: 45%;
  width: 90%;
}

.menuItem:hover .dropDownContent {
  display: block;
}

#canvasContainer {
  display: flex;
  justify-content: center;
}
